<div id="<%= dom_id donation %>">
  <p>
    <strong>Total value:</strong>
    <%= donation.total_value %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= donation.date %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= donation.payment_method %>
  </p>

</div>
